/.vcpkg
/.vscode
/better-cpp-syntax-1.17.2_vsixhub.com.vsix
/c-cpp-compile-run-1.0.44_vsixhub.com.vsix
/cpptools-1.16.0_vsixhub.com.vsix
/Daniela
/ejemplo_bd_cpp
/ejemplo_bd_cpp.7z
/instaladores
/isort-2023.9.11141005_vsixhub.com.vsix
/postgresql-15-1.exe
/python-2023.9.11491011_vsixhub.com.vsix
/python-3.11.3-amd64.exe
/python-environment-manager-1.0.3_vsixhub.com.vsix
/Sistema de Base de Datos- Rosa María Mato García
/Sistema de Base de Datos- Rosa María Mato García.rar
/vsc-python-indent-1.18.0_vsixhub.com.vsix
/vscode-database-client2-6.3.6_vsixhub.com.vsix
/vscode-pylance-2023.5.51_vsixhub.com.vsix
/vscodeintellicode-1.2.30_vsixhub.com.vsix
/VSCodeUserSetup-x64-1.78.2.exe
Biblioteca/New folder/código.txt
Biblioteca/New folder/explicación.docx
